@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Chewy&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap'); */


:root {
    --vertical-space: 1rem;
    --horizontal-space: 3rem;

    --dark-color: #262626;
    --high-emphasis-color: #FFFFFFE2;
    --medium-emphasis-color: #FFFFFFB9;
    --disabled-color: #FFFFFF66;

    /* --heading-color: #4FF52A; */
    /* --heading-color: #FFFFFF; */
    /* --contrast-color: #5BA6F5; */
    --contrast-color: #73B5F7;
}

body#about img {
    height: 15em;
    margin-right: 2em;
    float: left;
    box-shadow: -3px 2px 4px -1px #000000;
}

p,
li,
dl>* {
    /* opacity: 38%; */
    max-width: 50em;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Architects Daughter', cursive;
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-family: 'Chewy', cursive;
    letter-spacing: 0.05em;
    color: var(--high-emphasis-color);
}

h1 {
    font-size: 2.5em;
}

h3 {
    font-family: 'Architects Daughter', cursive;
    color: var(--medium-emphasis-color);
}

a {
    color: var(--medium-emphasis-color);
    text-decoration-color: var(--contrast-color);
}

a:hover {
    color: var(--contrast-color);
}

body {
    max-width: 50rem;
    display: grid;
    grid-template-areas: "head head"
        "nav nav"
        "main main"
        "foot foot";
    grid-template-columns: auto 2fr;
    grid-template-rows: auto auto 1fr auto;
    font-family: 'Architects Daughter', cursive;

    /* background-image: url("../images/txture.png"); */
    background-color: #202124;
    color: var(--medium-emphasis-color)
}

@media screen and (min-width: 34em) {

    body {
        /* padding-left: 2em; */
        grid-template-areas: "head nav"
            "main main"
            "foot foot";
    }
}

body>* {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}



body>header {
    grid-area: head;
}

body>nav {
    grid-area: nav;
}

body>nav ul {
    float: right;
    padding-top: var(--vertical-space);
    padding-left: 0;
    line-height: 3;
    margin: 0;
}

body>nav ul li {
    display: inline-block;
    padding-left: 1.5em;
    vertical-align: center;
}

body>main {
    grid-area: main;
}

body>main>*:first-child {
    border-top: 4px solid var(--high-emphasis-color);
    padding-top: 0.5em;
}

body>footer {
    grid-area: foot;
}

header,
footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header {
    padding-bottom: 0;
}

header h1,
footer h1 {
    margin: 0;
}

@media screen and (max-width: 34em) {
    header h1 {
        text-align: center;
    }

    body>nav ul {
        float: none;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    body>nav ul li {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }

}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

body#portfolio ul#portfolioItems li {
    border: 2px solid var(--medium-emphasis-color);
    border-radius: 12px;
    margin-bottom: 0.5em;
    flex-wrap: wrap;

    padding-right: 4%;
    padding-left: 4%;
}

@media screen and (min-width: 34em) {
    body#portfolio ul#portfolioItems li {
        margin-right: 1%;
        flex-basis: 44%;
        padding-right: 2%;
        padding-left: 2%;
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}

body#resume h2 {
    border-top: 2px solid var(--medium-emphasis-color);
}

header, main, footer {
    z-index: 1;
    position: inherit;
}

.scroll {
    z-index: 2;
    display: none;
    position: absolute;
    width: auto;
    left: 100%;
    top: 80%;
}